
/**
 * Node ASSIST WINDOW
 */ 
body.addnode {
  margin: 0px;
  padding: 5px;
  width: auto;
  min-width: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  background-color: #efefef;
  background-image: none;
}
/* Thin line between the header frame and the main frame */
body#img_assist_thumbs, body#img_assist_upload, body#img_assist_properties {
  border-top: 1px solid #000;
}
/* Darker background color in the header frame */
body#img_assist_header {
  background-color:#ccc;
  margin: 0;
}
/* Thin border around images */
.addnode img  {
  border: 1px solid #000;
}
.addnode .form-button {
  font-weight: bold;
  margin: 3px;
}
.addnode img {
  display: inline; /* pushbutton theme changes the display to block */
}
.addnode .messages {
  border: 1px solid #000;
  background-color: #ccc;
  padding: 2px;
  margin: 3px 0px 6px 0px;
}

/* Upload Window */
.addnode .node-form {
  width: 95%;
}

/* Properties Window */
.addnode #preview {
  padding: 5px 10px 5px 5px;
}
.addnode .form-item { /* the first form field on the properties frame should be at the top of the page  */
  margin-top: 0px;
  margin-bottom: 1em;
}
.addnode #caption {
  display: block;
}
.addnode #browse div.form-item {
  display: inline;
}
.addnode #link-group div.form-item{
  display: inline;
}
.addnode #size div.form-item{
  display: inline;
}
.addnode #size-other div.form-item{
  display: inline;
}
.addnode #alignment {
  text-align: left;
}
.addnode #edit-title, .addnode #edit-desc {
  width: 99%;
}
.addnode #edit-link {
  width: 155px;
}
.addnode #edit-url {
  width: 150px;
}
.addnode #edit-align {
  width: 100px;
}  
#finalhtmlcode {
  display: none;
  visibility: hidden;
}

/* Header Frame */
#header-uploading, #header-properties, #header-browse {
  float: left; 
  width: 80%;
}
#header-startover, #header-cancel {
  float: right;
  width: 19%;
  text-align: right;
}

#header-uploading input, #header-properties input, #header-browse input, #header-startover input, #header-cancel input, #header-uploading select, #header-properties select, #header-browse select {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
}


/**
 * POPUP IMAGES WINDOW
 */
body#addnode {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  padding: 0;
}

/**
 * FINAL PAGE (node)
 * You may want to copy these styles to your theme's CSS file and then set addnode.css 
 * not to load on every page.  This can be set on the addnode settings page.
 */ 
span.left {
  float: left;
  margin: 5px 5px 5px 0px;
}
span.right {
  float: right;
  margin: 5px 0px 5px 5px;
}
span.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.caption {
  display: block; /* put the caption under the image (not next to it) */
}
.inline img{
  border: 1px solid #000; /* put a thin border around inline images */
}

